
.pet-content {
    background-color: #fdfdfd;
    background-image: linear-gradient(135deg, rgba(255,255,255,0.7) 25%, transparent 25%), linear-gradient(225deg, rgba(255,255,255,0.7) 25%, transparent 25%), linear-gradient(45deg, rgba(255,255,255,0.7) 25%, transparent 25%), linear-gradient(315deg, rgba(255,255,255,0.7) 25%, transparent 25%);
    background-position: 10px 0, 10px 0, 0 0, 0 0;
    background-size: 20px 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

.card-content {
    width: 70%;
    display: flex; 
    justify-content: center; 
    align-items: center;
    gap: 20px; 
    border: none;
}

.card {
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 10px; /* Padding interno do card */
    margin: 10px auto; /* Centraliza o card */
    display: flex; /* Faz com que o card use o flexbox */
    justify-content: center; /* Centraliza o conteúdo do card */
  }
  
.column {
     /* flex: 1;Cada coluna ocupa a mesma quantidade de espaço */
    padding: 10px; /* Padding interno de cada coluna */
    margin-top: 30px;
    background-color: #f9f9f97e; /* Cor de fundo leve para as colunas */
    border-radius: 3px; /* Bordas arredondadas para as colunas */
    display: flex;
    flex-direction: column;
  }

/* Fundo cinza claro no container principal */
/* .content-pet-details {
    padding: 20px;
    display: flex;
    justify-content: center;
  }
   */
  

  /* Estilo das labels e inputs */
  label, input[type="text"], input[type="number"] {
    font-family: 'Roboto', 'Calibri', sans-serif; /* Fontes Roboto ou Calibri */
    color: #000; /* Cor preta */
    font-size: 14px; /* Tamanho da fonte */
  }

    /* Estilo das labels e inputs */
    input[type="file"] {
        font-family: 'Roboto', 'Calibri', sans-serif; /* Fontes Roboto ou Calibri */
        color: #707070; /* Cor preta */
        font-size: 12px; /* Tamanho da fonte */
        display: block; /* Força o botão de escolher arquivo a ficar em uma linha separada */
        margin-bottom: 10px;
    
      }
  
  input[type="text"], input[type="number"] {
    width: 80%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px; /* Espaçamento entre os inputs */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Garante que padding não afete a largura */
  }
  
  /* Espaçamento entre os campos do input-group */
  .input-group {
    display: flex;
    padding-left: 20px;
    justify-content: space-between;
    margin-bottom: 20px; /* Espaçamento entre os grupos */
  }
  
  .input-item {
    display: flex;
    flex-direction: column;
    width: 48%; /* Largura de cada item para dividir o espaço igualmente */
  }
  
  button {
    padding: 10px 20px;
    background-color: #7b1fa2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[disabled] {
    background-color: #ccc;
  }
  
  button:not([disabled]):hover {
    background-color: #7b1fa2;
  }
  