@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: 'PET_FAMILY_NAV';
    src: url(../assets/fonts/Light.ttf);
}

*{
    margin: 0;
    padding: 0;
}

.login_menu {
    padding-top: 2px ;
    padding-right: 2px;
    margin: 0px 0px 25px 0px;
    font-size: smaller;
    color: white;
    /* color-scheme:#D9D9D9; */
}

.user {
    position: absolute;
    width: 120px;
    height: 40px;
    right: 0px;
    top: 4px;
    background: url(../assets/img/user.png);
    background-repeat: no-repeat;
    background-position: 60px;
    display: flex;
    align-items: center;
}

.user span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0px 2px;
}


.banner {
    top: 0px;
    left: 0px;
    position: absolute;
    border-radius: 0px 90px 0px 0px;
    max-width: 180px;
}

nav {
    background-color: #3D6B42;
    display:flex;
    color: white;
    justify-content: space-between;
    padding-bottom: 20px;
    gap: 2rem;
    height: 160px;
}

nav img {
    margin: 0px;
    padding: 0px;
    background-color: #3D6B42;
    background-repeat: no-repeat;
}


nav ul {
    padding: 0;
    padding-right: 20px;
    align-items: self-end;
    list-style: none;
    display: flex;
    gap: 2rem;
    font-family: 'PET_FAMILY_NAV';
    font-size: 24px;
    font-weight: 500;
    color: black;
}

nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

nav li.active {
    background-color: #8C8B8C;

}

nav li:hover {
    background-color: #CDA4C7;
}

.button-login{
    padding: 15px;
} 

